---
import Layout from '../layouts/Layout.astro';
import TeamLeaderboard from '../components/team_leaderboard.astro'
import PlayerLeaderboard from '../components/player_leaderboard.astro'
---

<Layout title="Chase 24 - Leaderboard">
  <div
    x-data="{ 
      group: false,
      sessionKey: '', 
      players: [], 
      teams: [],
      topPlayers: [], 
      otherPlayers: [], 
      connectWebSocket() {
        // Initialize WebSocket connection
        const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        this.websocket = new WebSocket(`${protocol}${this.apiUrl}?session_key=${this.sessionKey}`);

        // Handle incoming messages
        this.websocket.onmessage = (event) => {
          const data = JSON.parse(event.data);

          this.players = JSON.parse(data.players);
          this.leg = JSON.parse(data.leg);
          this.teams =  this.leg.teams;
          console.log(this.players);
          console.log(this.leg);

          this.topPlayers = this.players.slice(0, 3); // Get top 3 players
          this.otherPlayers = this.players.slice(3); // Get remaining players
        };

        // Handle connection closure and attempt reconnection
        this.websocket.onclose = () => {
            console.log('WebSocket connection closed. Reconnecting...');
            setTimeout(() => this.connectWebSocket(), 3000); // Reconnect after 3 seconds
        };

        // Handle connection errors
        this.websocket.onerror = (error) => {
            console.error('WebSocket error:', error);
        };
      }
    }" 
    x-init="
      sessionKey = new URLSearchParams(window.location.search).get('session_key');
      connectWebSocket();
    "
    class="h-full w-full"
  >

  <button 
    class="absolute top-2 right-2 z-10 bg-[#f9ec7a] hover:bg-gray-200 active:bg-[#f9ec7a] focus:outline-none 
          rounded-lg p-2 shadow-md text-gray-700 hover:text-gray-800 
          active:text-gray-700 selection:bg-transparent"
    aria-label="User Profile"
    x-on:click="group=!group"
  >
    <template x-if="!group">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        fill="none" 
        color="currentColor" 
        class="shrink-0 h-6 w-6" 
        role="img" 
        aria-label="users group outline" 
        viewBox="0 0 24 24"
      >
        <path 
          stroke="currentColor" 
          stroke-linecap="round" 
          stroke-width="2" 
          d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
        >
        </path>
      </svg>
    </template>
    <template x-if="group">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        fill="none" 
        color="currentColor" 
        class="shrink-0 h-6 w-6" 
        role="img" 
        aria-label="user outline" 
        viewBox="0 0 24 24"
      >
        <path 
          stroke="currentColor" 
          stroke-width="2" 
          d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        >
        </path>
      </svg>
    </template>
  </button>


    <template x-if="group">
      <TeamLeaderboard />
    </template>
    <template x-if="!group">
      <PlayerLeaderboard />
    </template>
  </div>
</Layout>
