<div 
    x-data="{ sessionKey: '' }" 
    x-show="open" 
    @click.away="open = false"
    id="sessionModal" 
    class="absolute bg-gray-600 text-white rounded-lg p-6 shadow-lg flex flex-col"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%);"
>
  <!-- Label for input -->
  <h2 class="text-lg font-bold mb-1 self-start">Enter Session Key</h2>

  <!-- Input field -->
  <input 
    type="text" 
    x-model="sessionKey"
    placeholder="Enter 6-character key"
    class="block w-full mb-2 px-4 py-2 rounded-lg text-gray-800 border border-gray-400 shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm">
  
  <!-- Buttons -->
  <div class="flex gap-4 mt-4 self-end">
    <button 
        @click="open = false" 
        class="bg-red-500 text-white px-5 py-2 rounded-lg font-bold"
    >
        Close
    </button>
    <form :action="page" method="get">
      <input type="hidden" name="session_key" :value="sessionKey">
      <button 
          type="submit" 
          class="bg-[#f9ec7a] text-gray-800 px-5 py-2 rounded-lg font-bold" 
          :disabled="sessionKey.length != 6"
      >
          Submit
      </button>
    </form>
  </div>
</div>
