<div
    x-data="{
    }"
    class="w-full flex h-auto bg-[#c671a8] focus:bg-[#a45f8e] items-center inline-flex border border-2 border-[#a45f8e]
            rounded-md sm:rounded-lg lg:rounded-xl
            shadow-md sm:shadow-lg lg:shadow-xl shadow-[#90487b]/60
            py-1 sm:py-2 md:py-3 lg:py-4 xl:py-5
            px-2 sm:px-2 md:px-3 lg:px-3 xl:px-4"
>
    <!-- Main Container -->
    <div class="w-full flex flex-col justify-start items-start gap-1.5 pl-5">
        
        <div class="inline-flex gap-3">
            <!-- Team Name -->
            <div 
                class="text-white font-bold
                       text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl" 
                x-text="team.team_name">
            </div>
        </div>
        
        <!-- Player -->
        <div class="flex w-full justify-start items-start gap-2">
            <template x-for="player in team.players" :key="player.player_id">
                <div class="flex flex-col justify-start items-center gap-0.5 w-1/3">
                    <div class="w-full rounded-full border border-white p-0.25" >
                        <img 
                            :src="player.avatar" 
                            alt="Avatar"
                            style="aspect-ratio: 1/1;" 
                        />
                    </div>
                    <div 
                        class="text-white font-bold text-xs sm:text-xs md:text-sm lg:text-md xl:text-lg" 
                        x-text="player.player_name">
                    </div>
                </div>
            </template>
        </div>
    </div>
    
    <!-- Advance Button -->
    <button 
        @click="onClick"
        class="w-full text-white focus:text-gray-200 font-bold flex justify-end items-center transition duration-300"
    >
        <template x-for="(n, index) in Array.from({ length: (team.team_task_count) })" :key="index">
            <!-- Chevron SVG with Transform -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" 
                class="bi bi-chevron-right w-12 px-0 -ml-7" 
                style="aspect-ratio: 1/1;"
                viewBox="0 0 16 16" 
            >
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </template>
    </button>
</div>