---
const { title, background = "bg-[#C671A8]" } = Astro.props;
const apiUrl = import.meta.env.VITE_API_URL;
const apiProtocol = import.meta.env.VITE_API_PROTOCOL;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body 
    x-data=`{ apiProtocol: "${apiProtocol}", apiUrl: "${apiUrl}", page: '' }` 
    class=`${background} overflow-auto flex items-start min-h-screen` 
  >
    <slot />
  </body>
</html>